<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<phpunit>
     <filter>
        <whitelist>
            <directory suffix=".php">../BLL/</directory>
            <directory suffix=".php">../DAL/</directory>
            <exclude>
                <file>../DAL/adminDatabase.php</file>
                <file>../DAL/bankDatabase.php</file>
            </exclude>
         </whitelist>
    </filter>
</phpunit>
